* {
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #2c2c31;
}

::-webkit-scrollbar-thumb {
    background: #9e9ea0;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-45deg, #211932, #1E172E, #15121F, #110F17);

}

header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    height: 120px;
    background-image: linear-gradient(-45deg, #181426, #09080D);
    border-bottom: 2px solid #555555;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.title h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 0px 1px 0px #555;
}

article a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #ecf0f1;
}

.news_resume p {
    margin-top: 150px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 25px;
}

p::first-letter {
    font-size: 50px;
    font-weight: bold;
}


article .news_fotos img {
    margin-top: 200px;
    width: 300px;
    height: auto;
}

section {
    display: flex;
    border-bottom: 1px solid #555555;
}

footer {
    display: flex;
    background-color: #09080D;
    padding: 17px;
    color: #FFF;
    align-items: center;
    justify-content: space-between;

}

@media (max-width:806px) {
    .geral {
        padding: 20px;
    }



    body {
        display: inline-block;
    }


    .title h1 {
        font-size: 35px;
        text-align: center;

    }

    .news_resume p {
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 18px;
    }

    article .news_fotos img {
        margin-top: 120px;
    }
}